node_modules/
*.key
*.cert
*.output
build/
last_id.json
processes_backup.json
attachments/
users.txt
files
.eslintrc.js
exclude-list.txt
sync.sh
.env*
._.DS_store
software
.DS_Store
software.tar.gz
coverage
mysql_move_data.log
mysqld.cnf
.nyc_output
logs/
